/* Tickets.css */
.content {
  padding: 20px;
  text-align: center;
}

.selection {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.route-dropdown {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

label {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

label span {
  font-weight: 500;
}

.calendars-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.confirm-button {
  position: flex;
  bottom: 20px;
  right: 20px;
  margin-top:40px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #45a049;
}


.departure-calendar-container,
.return-calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-align: center;
}

.selected-info {
  margin-top: 20px;
  font-size: 1.1rem;
}

.selected-info p {
    margin: 55px 0;
}


@media (max-width: 700px) {
    .calendars-container {
      flex-direction: column; 
      align-items: center; 
      gap: 20px; 
    }
  
    .departure-calendar-container,
    .return-calendar-container {
      width: 100%;
      max-width: 300px; 
    }
  }
  