* {
  font-size: 25px;
  padding-top: 3px;
  align-items: center;
}

.navbar {
  display: flex;
 
}

img {
  height: 140px;
  width: 220px;
}

.list {
  list-style-type: none;
  gap: 45px;
}

.list li {
  display: inline;
  margin-right: 50px;
}

.list li a {
  color: #000000;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
}

.list li:hover {
  background-color: #93c2e8;
  padding: 0.5rem 0.75rem;
  border-radius: 20px;
  a{
    color: #ffffff;
  }
}
