.custom-toast-container {
    --toastify-color-success: #4CAF50 !important;
    --toastify-icon-color-success: #4CAF50 !important;
}

.Toastify__toast {
    background: #4CAF50 !important;
}

.Toastify__toast-body {
    color: white !important;
} 